<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Homepage</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<h1>My server</h1>

		<h2>Tech used:</h2>
		<div class="container">
			<div class="card">
				<h3>Express</h3>
			</div>
			<div class="card">
				<h3>MongoDB</h3>
			</div>
			<div class="card">
				<h3>Mongoose</h3>
			</div>
			<div class="card">
				<h3>bcryptjs</h3>
			</div>
			<div class="card">
				<h3>jsonwebtoken</h3>
			</div>
			<div class="card">
				<h3>axios</h3>
			</div>
			<div class="card">
				<h3>cloudinary</h3>
			</div>
			<div class="card">
				<h3>multer</h3>
			</div>
			<div class="card">
				<h3>cloudinary-storage</h3>
			</div>
			<div class="card">
				<h3>Morgan</h3>
			</div>
			<div class="card">
				<h3>express-rate-limit</h3>
			</div>
			<div class="card">
				<h3>helmet</h3>
			</div>
		</div>
	</body>
</html>
